[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "4.4.0"
twitchio = "2.1.4"
python-dotenv="0.13.0"
unidecode="1.2.0"

[dev-packages]

[requires]
python_version = "3.10.2"
